{erl_opts, [debug_info]}.

{plugins, [rebar3_proper]}.

{deps, [
	{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
	{jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}}
]}.

{relx, [{release, {tc, {git, long}},
	[tc]},
	{release, {travian_collector, "1.0.0"},
	[tc]},
	
	{dev_mode, true}
       ]}.


{profiles, [

	    {prod, [
		    {relx, [{mode, prod}]}
		    ]},
	    {test, [
	    	   {deps, [{proper, "1.2.0"}, recon]}
	    	   ]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [hackney, tc]}
]}.
